# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Lambda artifacts
/lambda-artifacts/*.jar
/lambda-artifacts/*.zip

# Environment variables (sensitive data)
.env
.env.local
*.env
!.env.example
